<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>98564534049-iqb88jbsokbverr1ickei5af93qvtc8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98564534049-iqb88jbsokbverr1ickei5af93qvtc8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBw6o7-utzqdSFVIEkVWXXDAZ4sY3W3vAU</string>
	<key>GCM_SENDER_ID</key>
	<string>98564534049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonnypower.echo</string>
	<key>PROJECT_ID</key>
	<string>echo-1303</string>
	<key>STORAGE_BUCKET</key>
	<string>echo-1303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:98564534049:ios:9f933115c6885ecc</string>
	<key>DATABASE_URL</key>
	<string>https://echo-1303.firebaseio.com</string>
</dict>
</plist>